{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="it:Educatory">

    <title>iProf - сервиз аналитики кадров</title>

    <link rel="stylesheet" href="{% static "assets/vendor_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/skin_color.css" %}">

</head>
<body class="hold-transition theme-fruit">

<div class="h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">
        <div class="col-lg-4 col-12 h-lg-p100 h-auto bg-img" style="background-image: url({% static "images/bg.jpg" %});">
            <div class="row l-block p-xl-100 p-lg-50 p-30 h-lg-p100 h-auto">
                <div class="col-12 logo align-self-start">
                    <a href="#" class="aut-logo">
                        <img src="{% static "images/logo-iprof.png" %}" alt="">
                    </a>
                </div>
                <div class="col-12 align-self-center">
                    <h1 class="title text-white">Добро пожаловать на iProf</h1>
                    <h3 class="subtitle text-white-50">
                        Сервис аналитики кадров
                    </h3>
                </div>
                <div class="col-12 align-self-end">
                    <h6 class="text-white-50">
                        © 2019 iProf
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-5 col-lg-7 col-md-6 col-12">
                    <div class="content-top-agile p-10">
                        <h2 class="text-primary">Войти с помощью ЕСИА</h2>
                        <p class="text-black-50">плюсы входа через ГосУслуги</p>
                    </div>


                    <div class="text-center">
                        <p class="mt-15 mb-0">Не зарегистрованы на ГосУслугах? <br>
                            <a href="#" class="text-info ml-5">
                            Узнайте как это сделать</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery 3 -->
<script src="{% static "assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js" %}"></script>

<!-- popper -->
<script src="{% static "assets/vendor_components/popper/dist/popper.min.js" %}"></script>

<!-- Bootstrap 4.0-->
<script src="{% static "assets/vendor_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

</body>
</html>
